<div class="container">
    <h1 class="mb-3"><p class="mt-2"></p><i class="fas fa-globe mr-2"></i>Create new Article</h1>
    <form action="/dashboard" method="POST">
      <%- include('_form_fields') %>
    </form>
  </div>