<div class="container">
  <h1 class="mb-1"><%= article.title %></h1>
  <div class="text-muted mb-2">
    <%= article.createdAt.toLocaleDateString() %>
  </div>
    <a href="/dashboard" class="btn btn-secondary">All Articles</a>
    <p class="mb-15"></p>
  <div>
    <%- article.sanitizedHtml %>
  </div>
</div>